header {
    background-image: repeating-linear-gradient(
      45deg,
      #FFFFFF,
      #FFFFFF 20px,
      #4c97d2 20px,
      #4c97d2 44px,
      #4c97d2 44px
    );
    background-size: 100% 50px;
    padding: 0px;
    height: 50px;
    position: relative;
  }
  
  .white-stripes {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: repeating-linear-gradient(
      45deg,
      #FFFFFF,
      #FFFFFF 20px,
      #4c97d2 20px,
      #4c97d2 40px,
      #4c97d2 40px
    );
    background-size: 100% 50px;
    padding: 0px;
    height: 50px;
    width: 168px;
  }
  
  .black-stripes {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: repeating-linear-gradient(
      45deg,
      #FFFFFF,
      #FFFFFF 20px,
      #000000 20px,
      #000000 40px,
      #000000 40px
    );
    background-size: 100% 30px;
    padding: 0px;
    height: 30px;
    width: 168px;
  }
  
  .all-black {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: black;
    height: 30px;
    width: 140px;
    color: white;
  }
  
  .all-black > div {
    padding-left: 20px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: bold;
  }
  
  .all-blue {
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: white;
    height: 20px;
    width: 188px;
  }
  
  .right-side {
    background-color: #4c97d2;
    height: 50px;
    width: 865px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  
  @media (min-width: 1565px) and (max-width: 1585px) {
  .right-higher {
    background-color: #4c97d2;
    height: 25px;
    width: 891px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}

.white-stripes-right {
    position: absolute;
    top: 0px;
    left: 167px;
    background-image: repeating-linear-gradient(
      45deg,
      #FFFFFF,
      #FFFFFF 35px,
      #4c97d2 35px,
      #4c97d2 60px,
      #4c97d2 60px
    );
    background-size: 100px 50px;
    padding: 0px;
    margin: 0px;
    height: 50px;
    width: 100px;
  }

  .white-stripes-right-2 {
    position: absolute;
    top: 0px;
    left: 232px;
    background-image: repeating-linear-gradient(
      45deg,
      #FFFFFF,
      #FFFFFF 35px,
      #4c97d2 35px,
      #4c97d2 65px,
      #4c97d2 65px
    );
    background-size: 100px 50px;
    padding: 0px;
    margin: 0px;
    height: 25px;
    width: 100px;
  }

  .white-stripes-right-3 {
    position: absolute;
    top: 25px;
    left: 257px;
    background-image: repeating-linear-gradient(
      45deg,
      #FFFFFF,
      #FFFFFF 35px,
      #4c97d2 35px,
      #4c97d2 65px,
      #4c97d2 65px
    );
    background-size: 100px 50px;
    padding: 0px;
    margin: 0px;
    height: 25px;
    width: 100px;
  }

  .white-stripes-right-4 {
    position: absolute;
    top: 0px;
    left: 262px;
    background-color: #4c97d2;
    padding: 0px;
    margin: 0px;
    height: 25px;
    width: 200px;
  }

  .white-stripes-right-5 {
    position: absolute;
    top: 25px;
    left: 287px;
    background-color: #4c97d2;
    padding: 0px;
    margin: 0px;
    height: 25px;
    width: 200px;
  }
  
  .white-banner {
    background-color: white;
    height: 40px;
    width: 653px;
    position: absolute;
    right: 210px;
    top: 5px;
  }
  
  .white-banner > div {
    padding-left: 15px;
    padding-top: 8px;
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

 .side {
   position: absolute;
   right: 0px;
   top: 50px;
 }
 
 .side img {
   height: 155px; /* Adjust this value as needed */
   width: auto;
 }

 .undo {
  position:absolute;
  right: 27px;
  top: -14px;
 }

 .redo {
  position:absolute;
  right: 0px;
  top: -8px;
 }

 .undo-icon {
  width: 56px;
  height: 56px;
}

.redo-icon {
  width: 44px;
  height: 44px;
}